<nav class="navbar navbar-expand-lg" style="background-color: #42273B">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
        <div class="navbar-right">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">.home()</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">.about(self)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">.works(self)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">.blog(self)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">.contact(self)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>